{% extends "base.html" %}

{% block title %}password_change_form.html{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div>
                    <h1>{{ title }}</h1>
                    <form action="#" method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                            <p>비번 형식이 틀렸다구! 다시 입력해라 이거야!</p>
                        {% endif %}

                        <p>옛날 비밀번호 다시 입력하시구... 바꿀 비밀번호 두번 입력하시면 대갯다 임마</p>

                        <fieldset>
                            <div>
                                {{ form.old_password.label_tag }} {{ form.old_password }}
                            </div>
                            <div>
                                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                            </div>
                            <div>
                                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                            </div>
                        </fieldset>

                        <div>
                            <input type="submit" value="Password Change"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}