{% extends "base.html" %}

{% block title %}register.html{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div>
                    <h3>{{ user }}`s profile</h3>
                </div>
                <div>
                    <ul>
                        <li>이름 : {{ user.first_name }} {{ user.last_name }}</li>
                        <li>스태프인가요 : {{ user.is_staff }}</li>
                        <li>슈퍼유저인가요 : {{ user.is_superuser }}</li>
                        <li>가입일 : {{ user.date_joined }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

