{% extends "base.html" %}

{% block title %}register.html{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div>
                    <h1>회원가입 해라 임마!</h1>
                    <form method="POST" action="#">
                        {% csrf_token %}

                        {% if form.errors %}
                            <p>양식이 틀렸어! 좀 성의있게 쓰란마랴!</p>
                        {% endif %}

                        <p>회원가입 양식을 채워주셈</p>

                        <fieldset>

                            <div>
                                {{ form.username.label_tag }} {{ form.username }}
                            </div>

                            <div> <!--사용자 계정을 생성하기 위해 비밀번호를 두번 입력할 수 있도록 비번 두번 입력 -->
                                <!-- login은 authentification form, register은 usercreation form -->
                                {{ form.password1.label_tag }} {{ form.password1 }}
                            </div>

                            <div>
                                {{ form.password2.label_tag }} {{ form.password2 }}
                            </div>

                        </fieldset>

                        <div>
                            <input type="submit" value="Register"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}