{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                {% if user.is_active %}
                    <div>
                        <a href="{% url 'article:list' %}"><strong>블로그 입장하기~</strong></a>
                    </div>
                {% else %}
                    <div>
                        <p>로그인을 해야 블로그 글을 볼수 있어...!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}