{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h3><strong>게시글 보기</strong></h3>
            </div>
            <div class="collection col-sm-10">
                {% for article in articles %}
                    <a href = "{% url 'article:detail' article.id %}" class="collection-item">{{ article.title }}</a>
                {% endfor %}
            </div>
            <div class="col-sm-10">
                <a href = "{% url 'article:create' %}"><button>글 작성하기</button></a>
            </div>
        </div>
    </div>
{% endblock %}
